:root {
  --primary-color: #ffff57;
  --black-color: #1b1b1b;
  --bg-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: #fff;
  margin-bottom: 5rem;
}

h1 {
  color: var(--primary-color);
  font-size: 3em;
  letter-spacing: 2px;
}

input {
  margin: 1em 0 !important;
  border-radius: 25px !important;
  padding: 0.5em !important;
  font-size: 1em !important;
  width: 60% !important;
}

.select {
  color: var(--black-color);
  max-width: 10em;
}

.card {
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background: var(--black-color);
  margin: 20px 0;
  border-radius: 20px;
  max-width: 15rem;
  min-height: 20rem;
}

.card img {
  max-width: 150px;
  max-height: 150px;
}

.card p {
  margin: 6px 0;
  color: #999;
}

.card h5 {
  margin: 10px 0;
  color: #fff;
}

.card-container {
  position: relative;
  transition: transform 0.2s;
}

.card-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.user-messages {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: red;
}
